@model ConnectionLibrary.Model.Result
@{
    ViewBag.Title = "Pravasi Yadi";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">પ્રવાસી કાર્યકર્તા</h1>
                </div>
                <!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("Dashboard","Master")">Home</a></li>
                        <li class="breadcrumb-item active">પ્રવાસી કાર્યકર્તા</li>
                    </ol>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <section class="content">
        <form id="frmrss">

            <div class="container-fluid">
                <!-- SELECT2 EXAMPLE -->
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Search</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-2 text-right col-form-label">સ્તર : <span style="color: red;">*</span></label>
                                    <div class="col-sm-10">
                                        @Html.DropDownListFor(x => Model.StarID, new SelectList(Model.ListStar, "ID", "Star"), htmlAttributes: new { @class = "form-control", id = "drpstar" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-2 text-right col-form-label">દાયિત્વ સ્તર : <span style="color: red;">*</span></label>
                                    <div class="col-sm-10">
                                        <div id="Droplistprant">
                                            @*  @Html.DropDownListFor(x => Model.BhagID, new SelectList(""), htmlAttributes: new { @class = "form-control", id = "drpBhag" })*@
                                            @Html.Partial("~/Views/Shared/Partial/_DDLVibhagPrant.cshtml", Model)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-2 text-right col-form-label">દાયિત્વ : <span style="color: red;">*</span></label>
                                    <div class="col-sm-10">
                                        @Html.DropDownListFor(x => Model.DayitvaID, new SelectList(Model.ListDayitva, "ID", "Dayitva"), htmlAttributes: new { @class = "form-control", id = "drpDayitva" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-2 text-right col-form-label">વર્ષ : </label>
                                    <div class="col-sm-10">
                                        <div id="Droplistnagar">
                                            @Html.DropDownList("Year", (IEnumerable<SelectListItem>)ViewData["YearD"], htmlAttributes: new { @class = "form-control", id = "Year" })
                                        </div>
                                    </div>

                                </div>
                            </div>
                            @*<div class="col-md-12 text-center">
                                    <input type="button" id="btnSearch" class="btn btn-info" value="Search">
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </form>

        <div class="card card-info">
            <div class="card-body">
                <div id="divListing">
                    @Html.Partial("~/Views/Shared/Partial/_ViewPravasiyaditable.cshtml", Model)
                </div>
            </div>
        </div>
    </section>
</div>

<!-- /.content-wrapper -->
@section scripts
{

    <script>
        function selectOnlyThis(id) {
            for (var i = 1; i <= 4; i++) {
                if ("customCheckbox" + i === id && document.getElementById("customCheckbox" + i).checked === true) {
                    document.getElementById("customCheckbox" + i).checked = true;
                } else {
                    document.getElementById("customCheckbox" + i).checked = false;
                }
            }
        }
    </script>
    <script>
        $(function () {
            $("#example1").DataTable({
                "paging": true,
                "lengthChange": false,
                "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("a").filter(".nav-link active").removeClass("nav-link active");
            $("#pravasiyadi").addClass("nav-link active");
            $("#Master").addClass("nav-link active");
            $("li").filter(".nav-item menu-open").removeClass("nav-item menu-open");
            $("#Masterli").addClass("nav-item menu-open");
            $('#drpstar').change(function () {
                //alert($('#drpBhag option:selected').val());
                if ($('#drpstar option:selected').val() != "0") {
                    $.ajax({
                        type: "GET",
                        url: "/Master/Starbyid",
                        data: { StarID: $('#drpstar option:selected').val() },
                        timeout: 600000,
                        success: function (data) {

                            if (data == "-1") {
                                window.location.href = "/account/logoff";
                            }
                            else if (data == "0") {

                                toastr.error("Record Not Found!! ");

                            }
                            else {
                                $("#Droplistprant").html(data);

                            }

                        },
                    });
                }
            });


            $("#btnSearch").click(function () {
                // alert($('#drpNagar option:selected').val());
                var TValidate = true;
                @*if (TValidate) {
                    if ($("#drpBhag").val() == "0") {
                        toastr.error("Please Select Bhag");
                        $("#drpBhag").focus();
                        TValidate = false;
                    }
                }*@

                if (TValidate) {

                    $.ajax({
                        type: "POST",
                        url: "/Master/SearchViNagar",
                        data: $("#frmrss").serialize(),
                        timeout: 600000,
                        beforeSend: function () {
                            $('#milan').css("display", 'block');
                        },
                        success: function (data) {
                            if (data == "-1") {
                                window.location.href = "/account/logoff";
                            }


                            else if (data == "0") {

                                toastr.error("Record Not Found!! ");

                            }
                            else {
                                $("#Datalist").html(data);

                            }
                        },
                        complete: function () {
                            $('#milan').css("display", 'none');
                        },
                    });
                }

                return TValidate;
            });
        });


    </script>
}